html {
  font-family: "Open Sans", sans serif;
  box-sizing: border-box;
}

body {
  background-color: #60a9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 1em 2em;
  flex: 1 2 1;
}

@media (max-width: 768) {
  .panel {
    flex-direction: column;
  }
}
